[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=~/.clock/clock-1.1-linux/clock-gui
Name=Clock
Icon=~/.clock/clock-gui/clock.jpg
